.container,
.recipeTiles {
  display: flex;
}

.container {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 80px;
  margin: 10px;
  color: #fff;
}

.inputForm {
  width: 300px;
}

.inputForm,
.buttonSearch {
  padding: 7px;
}

.textLoader {
  margin: 20px;
  font-weight: 700;
}

.recipeTiles {
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1500px;
}

.pagination {
  width: 10%;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 40px;
  right: 0;
}

.buttonPage {
  margin: 10px;
  cursor: pointer;
}
