.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 80px;
}
.text {
  color: #fff;
  font-weight: 700;
  margin: 20px;
}

.form input {
  width: 300px;
  display: block;
  padding: 10px;
}

.form input,
.form button {
  margin: 15px;
}

.form button {
  width: 300px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #d7b957;
}
.login {
  color: #d7b957;
  font-weight: 600;
  text-align: center;
}
